@import url('https://fonts.googleapis.com/css?family=Quicksand');

.container {
    display:flex;
    flex-direction: column;
    height: 100vh;
    font-family: "quicksand";
    background-color: #C3EEFF;

}

header {
    background-image: url(images/sweets.jpg);
}

h1 {
    margin: 75px;
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}


.main {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    flex-wrap: wrap;
}

button {
    background-color: transparent;
    border: none;
    margin: 15px;
    text-decoration: underline;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

#item-list {
    display: flex;
    flex-wrap: wrap;
}

#item-list ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
    padding: 0;
}

#item-list li {
	cursor: pointer;
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
}

img {
    max-width: 160px;
    height: auto;
}

#shopping-cart {
	min-height: 100vh;
	text-align: center;
}

#shopping-cart ul {
	list-style: none;
	padding: 0;
}

#shopping-cart li {
	color: palevioletred;
    font-size: 20px;
    font-weight: bold;
	margin-bottom: 16px;
}



